[Unit]
Description=Gunicorn server for DOMAIN

[Service]
Restart=on-failure
User=wbkoetsier
WorkingDirectory=/home/wbkoetsier/sites/DOMAIN
EnvironmentFile=/home/wbkoetsier/sites/DOMAIN/.env

ExecStart=/home/wbkoetsier/sites/DOMAIN/virtualenv/bin/gunicorn \
    --bind unix:/tmp/DOMAIN.socket \
    superlists.wsgi

[Install]
WantedBy=multi-user.target